@Html.Partial("Partials/Header")

<h5>Name: @ViewBag.userdeets.name</h5>
<p>Alias: @ViewBag.userdeets.alias</p>
<p>Email: @ViewBag.userdeets.username</p>
<hr>
<p>Total Number of Posts: @ViewBag.posts</p>
<p>Total Number of Likes: @ViewBag.userdeets.Likes.Count</p>